# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.py[cod]
*.log

# Ignore SQLite database
db.sqlite3

# Ignore media files (uploaded images)
media/

# Ignore environment variables/secrets (if any)
.env

# VS Code settings (optional)
.vscode/
